body {
    background-image: linear-gradient(rgb(180, 201, 245), white, white);
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.outer {
    max-width: 90%;
    width: 450px;
    border: 3px double black;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: left;
}
.one {
    font-size: large;
}
.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.input-field label {
    margin-bottom: 5px;
}
.input-field input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.buttons input {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #50779f;
    color: white;
    
}
.buttons input:hover{
    background-color: #204692;
}
a {
    margin-top: 20px;
    font-style: italic;
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
}